---
import BaseHead from '../../components/BaseHead.astro';
import {Header} from '../../components/Header.jsx';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col w-full h-screen content-center justify-between font-sans bg-slate-200 ">
		<Header client:load/>
		<main class="flex flex-col justify-center items-center">
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<time datetime={new Date(post.data.pubDate).toISOString()}>
									{new Date(post.data.pubDate).toLocaleDateString('en-us', {
										year: 'numeric',
										month: 'short',
										day: 'numeric',
									})}
								</time>
								<a href={`/starks_blog/blog/${post.slug}/`}>{post.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
