---
import BaseHead from '../../components/BaseHead.astro';
import {Header} from '../../components/Header.jsx';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

console.log(posts)
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col w-full h-screen content-center justify-between font-sans bg-slate-200 ">
		<Header client:load/>
		<main class="flex flex-col justify-center items-center">
			<section class="h-full w-full flex justify-center items-center flex-col gap-4">
				<ul class="flex flex-wrap max-w-6xl justify-center gap-6">
					{
						posts.map((post) => (
							<li class="m-4 max-w-xs">
								<a href={`/blog/${post.slug}/`} class="shadow-md rounded-lg overflow-hidden flex flex-col justify-center items-center">
									<div class="shadow-md rounded-lg overflow-hidden flex flex-col justify-center items-center">
										<img class="aspect-video max-w-xs" src={post.data.heroImage} alt={post.data.heroImageDesc}>
										<div class="flex flex-col justify-around p-4 border-t-2 border-slate-300 w-full text-justify">
											<h1 class="text-md font-semibold">{post.data.title}</h1>
											<p class="h-16 text-sm">{post.data.description}</p>
										</div>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
