---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import {Header} from '../components/Header.jsx';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 2px solid #ddd;
				margin: 1rem 0;
			}
			img {
				max-width: 300px;
				min-width: 100px;
			}
			p {
				margin: 3rem;
				padding: 2rem;
			}
		</style>
	</head>

	<body class="flex flex-col w-full h-screen justify-between font-sans bg-slate-200 ">
		<Header client:load/>
		<main class="flex flex-col justify-center items-center w-full sm:p-24 p-5">
			<article class="sm:max-w-xl">
				<div class="flex justify-center">
					{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				</div>
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{
					updatedDate && (
						<div>
							Fecha Actualización <time>{updatedDate}</time>
						</div>
					)
				}
				<hr />
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
