---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import {Header} from '../components/Header.jsx';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroImageDesc } = Astro.props.frontmatter || Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="flex flex-col w-full h-screen justify-between font-sans bg-slate-200 ">
		<Header client:load/>
		<main class="flex flex-col justify-center items-center w-full sm:p-24 p-5">
			<article class="sm:max-w-xl text-slate-500">
				<div class="flex justify-center">
					{heroImage && <img class="max-w-xs" width={720} height={360} src={heroImage} alt={heroImageDesc} />}
				</div>
				<h1 class="text-3xl text-center m-8">{title}</h1>
				<small class="text-right block">Publicación {pubDate && <time>{pubDate}</time>} </small>
				{
					updatedDate && (
						<small class="text-right block">
							Actualización <time>{updatedDate}</time>
						</small>
					)
				}
				<hr />
				<div class="post m-4 text-justify text-lg ">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
